{% extends 'layout.html' %}

{% block content %}
<section>
	<div class="wrapper">
		<div class="group">
			<div class="col-12">
				<nav class="breadcrumb">
					<ul class="breadcrumb__items pluto">
						<li class="breadcrumb__item">
							<a id="breadcrumbSearchLink" href="/Search" class="breadcrumb__link">Search</a>
							<span class="breadcrumb__chevron">&nbsp;&gt;&nbsp;</span>
						</li>
                        <li id="breadcrumbCurrentUnit" class="breadcrumb__item breadcrumb__item--current">ENT - {{json['id']}}</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>
<section>
    <div class="main-content">
		<div class="wrapper">
			<div class="group">
				<div class="col-12">
					<h3 id="unitName" class="jupiter sml-margin">{{json['vars']['name']}}</h3>
					<div id="unitBadge" class="badge badge--teal ent-reference">Enterprise</div>
					<div id="unitId" class="ent-reference u-mb-l">ERN <strong>{{json['id']}}</strong></div>
					<div class="panel panel--simple panel--info u-mb-l">
                        <table class="unit-info">
                            <tr>
                                <th class="mars">Enterprise Reference</th>
                                <td class="venus">{{json['vars'].get('entref', '')}}</td>
                            </tr>
                            <tr>
                                <th class="mars">Trading Style</th>
                                <td class="venus">{{json['vars'].get('tradingStyle', '')}}</td>
                            </tr>
                            <tr>
                                <th class="mars">Sic 07</th>
                                <td class="venus">{{json['vars']['sic07']}}</td>
                            </tr>
                                <tr>
                                <th class="mars">Legal Status</th>
                                <td class="venus">{{json['vars']['legalStatus']}}</td>
                             </tr>
                                <tr>
                                <th class="mars">Employees</th>
                                <td class="venus">{{json['vars'].get('employees', '')}}</td>
                             </tr>
                                <tr>
                                <th class="mars">Jobs</th>
                                <td class="venus">{{json['vars'].get('jobs', '')}}</td>
                             </tr>
                                <tr>
                                <th class="mars">Turnover</th>
                                <td class="venus">{{json['vars'].get('turnover', '')}}</td>
                             </tr>
                                <tr>
                                <th class="mars">PRN</th>
                                <td class="venus">{{json['vars']['prn']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Working Proprietors</th>
                                <td class="venus">{{json['vars']['workingProprietors']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Employment</th>
                                <td class="venus">{{json['vars']['employment']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Region</th>
                                <td class="venus">{{json['vars']['region']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Imputed Employees</th>
                                <td class="venus">{{json['vars'].get('imputed').get('employees')}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Imputed Turnover</th>
                                <td class="venus">{{json['vars'].get('imputed').get('turnover')}}</td>
                             </tr>
                            <tr>
                                <th class="mars">Address</th>
                                <td class="venus">{{", ".join(json['vars']['address'].values())}}</td>
                             </tr>
                        </table>
					<div>
				</div>
			</div>
		</div>
	</div>
    <div class="wrapper">
        <div class="group">
            <div class="col-12">
                <ul id="childLinksTabs" class="tabs clearfix u-mb-l" data-tabgroup="first-tab-group">
                  <li><a id="leuTab" href="#tab1" class="active">LEU ({{json['children']['LEU'] | count}})</a></li>
                  <li><a id="louTab" href="#tab2">LOU ({{json['children']['LOU'] | count}})</a></li>
                  <li><a id="reuTab" href="#tab3">REU ({{json['children']['REU'] | count}})</a></li>
                  <li><a id="chTab" href="#tab4">CRN ({{json['children']['CH'] | count}})</a></li>
                  <li><a id="payeTab" href="#tab5">PAYE ({{json['children']['PAYE'] | count}})</a></li>
                  <li><a id="vatTab" href="#tab6">VAT ({{json['children']['VAT'] | count}})</a></li>
                </ul>
                <section id="first-tab-group" class="tabgroup u-mb-l">
                    <div id="tab1">
                        <table id="leuChildLinksTable" class="unit-info">
                            <tr>
                                <th class="venus legal">Legal Unit</th>
                            </tr>
                            {% for id in json['children']['LEU'] %}
                            <tr>
                                <td class="mars legal"><a href="/Search/periods/{{json['period']}}/types/LEU/units/{{id}}" class="mars">{{id}}</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div id="tab2">
                        <table id="louChildLinksTable" class="unit-info">
                            <tr>
                                <th class="venus legal">Local Unit</th>
                            </tr>
                            {% for id in json['children']['LOU'] %}
                            <tr>
                                <td class="mars legal"><a href="/Search/periods/{{json['period']}}/types/LOU/units/{{id}}" class="mars">{{id}}</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div id="tab3">
                        <table id="reuChildLinksTable" class="unit-info">
                            <tr>
                                <th class="venus legal">Reporting Unit</th>
                            </tr>
                            {% for id in json['children']['REU'] %}
                            <tr>
                                <td class="mars legal"><a href="/Search/periods/{{json['period']}}/types/REU/units/{{id}}" class="mars">{{id}}</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div id="tab4">
                        <table id="chChildLinksTable" class="unit-info">
                            <tr>
                                <th class="venus legal">Company House</th>
                            </tr>
                            {% for id in json['children']['CH'] %}
                            <tr>
                                <td class="mars legal"><a href="/Search/periods/{{json['period']}}/types/CH/units/{{id}}" class="mars">{{id}}</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div id="tab5">
                        <table id="payeChildLinksTable" class="unit-info">
                            <tr>
                                <th class="venus legal">Pay As You Earn</th>
                            </tr>
                            {% for id in json['children']['PAYE'] %}
                            <tr>
                                <td class="mars legal"><a href="/Search/periods/{{json['period']}}/types/PAYE/units/{{id}}" class="mars">{{id}}</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div id="tab6">
                        <table id="vatChildLinksTable" class="unit-info">
                            <tr>
                                <th class="venus legal">Value Added Tax</th>
                            </tr>
                            {% for id in json['children']['VAT'] %}
                            <tr>
                                <td class="mars legal"><a href="/Search/periods/{{json['period']}}/types/VAT/units/{{id}}" class="mars">{{id}}</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}