{% extends 'layout.html' %}

{% block content %}
    <section>
        <div class="main-content">
            <div class="wrapper">
                <div class="group">
                    <div class="col-8">
                        <h2 id="homeTitle" class="saturn">Search the UK business population</h2>
                        <div class="panel panel--simple panel--info u-mb-l">
                            <p class="mars">To get started, search using one or more of the options below.</p>
                        <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="group">
                <div class="col-6">
                    <form class="form" action="http://localhost:5000/api/search_reference_number" method="POST">
                        <div class="field u-mb-s">
                            <label class="label">Reference Number</label>
                            <span class="label__description pluto">ERN, UBRN, CRN, VAT or PAYE</span>
                            <input id="referenceNumberInput" autofocus name="ReferenceNumber" class="input input--text input-type__input bi-search-input" type="text">
                        </div>
                        <button id="searchButton" class="btn btn--primary venus" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}