{% extends 'layout.html' %}

{% block content %}
<section>
	<div class="wrapper">
		<div class="group">
			<div class="col-12">
				<nav class="breadcrumb">
					<ul class="breadcrumb__items pluto">
						<li class="breadcrumb__item">
							<a id="breadcrumbSearchLink" href="/Home" class="breadcrumb__link">Search</a>
							<span class="breadcrumb__chevron">&nbsp;&gt;&nbsp;</span>
						</li>
						<li class="breadcrumb__item">
							<a id="breadcrumbEnt" href="/api/periods/{{session['business']['period']}}/types/ENT/units/{{session['business']['parents']['ENT']}}" class="breadcrumb__link">ENT - {{session['business']['parents']['ENT']}}</a>
                            <span class="breadcrumb__chevron">&nbsp;&gt;&nbsp;</span>
						</li>
                        <li id="breadcrumbCurrentUnit" class="breadcrumb__item breadcrumb__item--current">LU - {{session['business']['id']}}</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>
<section>
    <div class="main-content">
		<div class="wrapper">
			<div class="group">
				<div class="col-12">
					<h3 id="unitName" class="jupiter sml-margin">{{session['business']['vars']['name']}}</h3>
					<div id="unitBadge" class="badge badge--teal ent-reference">Local Unit</div>
					<div id="unitId" class="ent-reference u-mb-l">LURN <strong>{{session['business']['id']}}</strong></div>
					<div class="panel panel--simple panel--info u-mb-l">
                        <table class="unit-info">
                            <tr>
                                <th class="mars">Local Unit Reference</th>
                                <td class="venus">{{session['business']['vars']['luref']}}</td>
                            <tr>
                                <th class="mars">Trading Style</th>
                                <td class="venus">{{session['business']['vars']['tradingStyle']}}</td>
                             </tr>
                                <tr>
                                <th class="mars">Sic 07</th>
                                <td class="venus">{{session['business']['vars']['sic07']}}</td>
                             </tr>
                                <tr>
                                <th class="mars">Employees</th>
                                <td class="venus">{{session['business']['vars']['employees']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Employment</th>
                                <td class="venus">{{session['business']['vars']['employment']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">PRN</th>
                                <td class="venus">{{session['business']['vars']['prn']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Region</th>
                                <td class="venus">{{session['business']['vars']['region']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Reporting Unit Ref Number</th>
                                <td class="venus">{{session['business']['vars']['reportingUnit']['rurn']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Reporting Unit Ref</th>
                                <td class="venus">{{session['business']['vars']['reportingUnit']['ruref']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Enterprise Ref Number</th>
                                <td class="venus">{{session['business']['vars']['enterprise']['ern']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Enterprise Reference</th>
                                <td class="venus">{{session['business']['vars']['enterprise']['entref']}}</td>
                             </tr>
                            </tr>
                                <tr>
                                <th class="mars">Address</th>
                                <td class="venus">{{", ".join(session['business']['vars']['address'].values())}}</td>
                             </tr>
                        </table>
					<div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}