{% extends 'layout.html' %}

{% block content %}
<section>
	<div class="wrapper">
		<div class="group">
			<div class="col-12">
				<nav class="breadcrumb">
					<ul class="breadcrumb__items pluto">
						<li class="breadcrumb__item">
							<a id="breadcrumbSearchLink" href="/Search" class="breadcrumb__link">Search</a>
							<span class="breadcrumb__chevron">&nbsp;&gt;&nbsp;</span>
						</li>
                        <li class="breadcrumb__item">
							<a id="breadcrumbEnt" href="/Search/periods/{{json['period']}}/types/ENT/units/{{json['parents']['ENT']}}" class="breadcrumb__link">ENT - {{json['parents']['ENT']}}</a>
                            <span class="breadcrumb__chevron">&nbsp;&gt;&nbsp;</span>
						</li>
                        <li class="breadcrumb__item">
							<a id="breadcrumbLeu" href="/Search/periods/{{json['period']}}/types/LEU/units/{{json['parents']['LEU']}}" class="breadcrumb__link">LEU - {{json['parents']['LEU']}}</a>
                            <span class="breadcrumb__chevron">&nbsp;&gt;&nbsp;</span>
						</li>
                        <li id="breadcrumbCurrentUnit" class="breadcrumb__item breadcrumb__item--current">PAYE - {{json['id']}}</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>
<section>
    <div class="main-content">
		<div class="wrapper">
			<div class="group">
				<div class="col-12">
					<h3 id="unitName" class="jupiter sml-margin">{{json['vars']['businessName']}}</h3>
					<div id="unitBadge" class="badge badge--teal ent-reference">Pay As You Earn</div>
					<div id="unitId" class="ent-reference u-mb-l">PAYEREF <strong>{{json['id']}}</strong></div>
					<div class="panel panel--simple panel--info u-mb-l">
                        <table class="unit-info">
                            <tr>
                                <th class="mars">Postcode</th>
                                <td class="venus">{{json['vars']['postCode']}}</td>
                            </tr>
                                <tr>
                                <th class="mars">Industry</th>
                                <td class="venus">{{json['vars']['industryCode']}}</td>
                             </tr>
                                <tr>
                                <th class="mars">Legal status</th>
                                <td class="venus">{{json['vars']['legalStatus']}}</td>
                             </tr>
                                <tr>
                                <th class="mars">Trading status</th>
                                <td class="venus">{{json['vars']['tradingStatus']}}</td>
                             </tr>
                                <tr>
                                <th class="mars">Employment band</th>
                                <td class="venus">{{json['vars']['employmentBands']}}</td>
                             </tr>
                                <tr>
                                <th class="mars">Turnover band</th>
                                <td class="venus">{{json['vars']['turnover']}}</td>
                             </tr>
                        </table>
					<div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}