{% extends 'layout.html' %}

{% block content %}
    <section>
        <div class="main-content">
            <div class="wrapper">
                <div class="group">
                    <div class="col-8">
                        <h2 id="homeTitle" class="saturn">Search the UK business population</h2>
                        <div class="panel panel--simple panel--info u-mb-l">
                            <p class="mars">To get started, search using one or more of the options below.</p>
                        <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="group">
                <div class="col-6">
                    <form class="form" action="http://localhost:5000/Search" method="POST">
                        <div class="field u-mb-s">
                            <label class="label">Reference Number</label>
                            <span class="label__description pluto">ERN, UBRN, LURN, RURN, CRN, VATREF or PAYEREF</span>
                            <input required id="referenceNumberInput" autofocus name="UnitId" class="input input--text input-type__input bi-search-input" type="text">
                        </div>
                        <div class="field u-mb-s">
                            <label class="label">Unit Type</label>
                            <span class="label__description pluto">ENT (Enterprise), LEU (Legal Unit), LOU (Local Unit), REU (Reporting Unit), CH (Company House), VAT (Value Added Tax), PAYE (Pay As You Earn)</span>
                            <input required id="unitTypeInput" autofocus name="UnitType" class="input input--text input-type__input bi-search-input" type="text">
                        </div>
                        <div class="field u-mb-s">
                            <label class="label">Period</label>
                            <span class="label__description pluto">Period in YYYYMM format e.g. 201810</span>
                            <input required id="periodInput" autofocus name="UnitPeriod" class="input input--text input-type__input bi-search-input" type="text">
                        </div>
                        <button id="searchButton" class="btn btn--primary venus" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}