@charset "UTF-8";

.alpha_banner {
  line-height: 0;
  background-color: #EEEEEE;
  padding: 9px 0 9px 0;
  padding: 0.5rem 0 0.5rem 0;
}

.badge {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.8;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 0.8889rem;
  font-weight: 700;
}

.badge--blue {
  color: #fff;
  background-color: #0A6EBD;
  margin: 0 0.75rem 0 1rem;
}

.badge--teal {
  color: #fff;
  background-color: #008080;
  margin: 0 0.75rem 0 1rem;
}

.badge--pink {
  color: #fff;
  background-color: #D2376D;
  margin: 0 0.75rem 0 1rem;
}

.badge--mauve {
  color: #fff;
  background-color: #766FAF;
  margin: 0 0.75rem 0 1rem;
}

.badge--orange {
  color: #fff;
  background-color: #FE781F;
}
