@charset "UTF-8";

.forgot-password {
  margin: 0 0 32px 0;
  margin: 0 0 1.778rem 0;
}

.checkboxLabel {
  padding: 0 0 0 4px;
  cursor: pointer;
}

.field {
  padding: 0 0 8px 0;
  padding: 0 0 0.4444rem 0;
}

.label--inline {
    font-weight: 400;
    padding: 12.6px 18px 12.6px 45px;
    padding: .7rem 1rem .7rem 2.5rem;
    display: block;
    margin: 0;
    cursor: pointer;
    width: 200px;
}

.logout {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}