{% extends 'layout.html' %}

{% block content %}
<section>
    <div class="main-content">
        <div class="wrapper">
            <div class="group">
                <div class="col-8">
                    <h2 class="saturn">{{ title }}</h2>
                    <div class="panel panel--simple panel--{{ level }} u-mb-l">
                        <p class="mars">{{ error_message }}</p>
                    <div>
                </div>
            </div>
        </div>
    </div>
<section>
{% endblock %}
